.popupAuth{
  width: 396px;
  height: 560px;
  margin: 0 auto;
  padding-top: 70px;
}

.popupAuth__img{
  padding-bottom: 40px;
}

.popupAuth__welcome{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;

  margin: 0;
  padding-bottom: 40px;
}

.popupAuth__section{
  display: flex;
  flex-direction: column;
}

.popupAuth__placeholder{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;

  margin: 0;
  padding-bottom: 10px;
}

.popupAuth__input{
  background: #2F2F2F;
  height: 46px;
  border-radius: 8px;
  outline: none;
  text-indent: 15px;

  border: 0;
  padding: 0;
  margin-bottom: 20px;
}

.popupAuth__input:last-of-type{
  margin-bottom: 10px;
}

.popupAuth__error{
  display: inline-block;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #EE3465;

  margin: 0;
}

.popupAuth__error_forSearchForm{
  position: absolute;
  top: 120px;
  left: 0;
}

.popupAuth__button{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;

  width: 396px;
  height: 45px;
  border-radius: 3px;
  background: #4285F4;
  text-decoration: none;
  border: 0;

  margin: 0;
  padding: 0;
  margin-top: 69px;

  transition: all .4s ease;
  cursor: pointer;
}

.popupAuth__button_toLogin{
  margin-top: 155px;
}

.popupAuth__button:hover{
  box-shadow: 0 0 12px #fff;
}

.popupAuth__button:disabled{
  opacity: .4;
  box-shadow: 0 0 0;
  cursor: default;
}

.popupAuth__login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.popupAuth__paragraph{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;

  margin: 0;
  padding-right: 6px;
}

.popupAuth__link{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;

  text-decoration: none;
  position: relative;
  transition: all .4s ease;
}

.popupAuth__link:hover:after {
	content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 2px; 
  background-color: #4285F4;
}

@media screen and (max-width: 768px){
  .popupAuth__error_forSearchForm{
    top: 140px;
  }
}

@media screen and (max-width: 560px) { 
  .popupAuth{
    width: 81vw;
    height: 463px;
    margin: 0 auto;
    padding-top: 56px;
  }

  .popupAuth__welcome{
    padding-bottom: 80px;
    text-align: center;
  }

  .popupAuth__img{
    margin: 0 auto;
    display: block;
  }

  .popupAuth__button{
    width: 81vw;
    font-size: 12px;
    line-height: 45px;

    margin-top: 157px;
  }

  .popupAuth__button_toLogin{
    margin-top: 247px;
  }

  .popupAuth__button_isnActive{
    width: 81vw;
    font-size: 12px;
    line-height: 45px;

    margin-top: 157px;
  }

  .popupAuth__login{
    padding-top: 14px;
  }

  .popupAuth__paragraph{
    font-size: 12px;
    line-height: 15px;
  }

  .popupAuth__link{
    font-size: 12px;
    line-height: 15px;
  }
}